body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #dfc015;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.producto {
    background-color: rgb(202, 170, 26);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}
.producto img {
    width: 100%;
    border-radius: 8px;
}
.producto:hover {
    transform: translateY(-5px);
}
.producto h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.producto p {
    color: #555;
    font-size: 1em;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  
    .footer-contenido {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    p {
      margin: 0;
      font-size: 0.9em;
    }
  
    .footer-enlaces {
      margin-top: 10px;
  
      a {
        color: #ffd700;
        text-decoration: none;
        margin: 0 10px;
        font-size: 0.9em;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
          color: #ffcc00;
        }
      }
    }
  }
  